// components/_icons.scss

.arrow-container {
	width: 40px; 
	height: 20px; 
	position: relative;
	margin-top: -30px;

	.arrow-down {
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-top: 20px solid $color-jpl-dark-gray-2;
	}
}

.transparent-arrow {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;

	&:before, &:after {
		content:'';
		position: absolute;
		bottom: 0px;
		width: 50%;
		background-color: inherit;
		padding-bottom: 20px;
		z-index: 1;
	}

	&.arrow-white {
		&:before, &:after {
			background-color:$color-jpl-white;
		}
	}

	&.arrow-light-gray {
		&:before, &:after {
			background-color: $color-jpl-light-gray;
		}
	}

	&.arrow-cool-gray-3 {
		&:before, &:after {
			background-color: $color-jpl-cool-gray-3;
		}
	}

	&:before {
		right: 50%;
		@include transform-origin(100%, 100%);
		@include transform(skewX(45deg));
	}

	&:after {
		left: 50%;
		@include transform-origin(0, 100%);
		@include transform(skewX(-45deg));
	}
}

.question-icon {
	color: $color-jpl-link-blue;
	border-radius: 50%;
	border:2px solid $color-jpl-link-blue;
	cursor: pointer;
	position: absolute;
	width: 30px;
	height: 30px;
	right: 1em;
	top: 37%;
	z-index: 100;

	&:hover{
		color: $color-jpl-white;
		background-color: $color-jpl-soft-blue;
		border: 2px solid $color-jpl-soft-blue;
	}

	&::after {
		content: "?";
		left: 33%;
    	top: 8%;
    	position: absolute;
	}
}

.site_header_area, .no-touch .site_header_area.fixed, .touch .site_header_area.fixed {
	.nav_area {
		a.menu_button .menu_icon {
		    text-indent: -9999px;
		    display: inline-block;
		    vertical-align: middle;
		    width: 25px;
		    height: 20px;
		    background: url(/assets/images/menu_icon@2x.png) center center no-repeat;
		    background-size: 25px 20px;
		}
	}
}