// variables/_jpl-colors.scss

// base
$color-jpl-red: 			#E31937;
$color-jpl-white: 			#FFF;
$color-jpl-cool-gray-1: 	#E6E6E6;
$color-jpl-cool-gray-3: 	#C8C8C8;
$color-jpl-cool-gray-6: 	#A5A5A5;
$color-jpl-cool-gray-9:  	#76777B;
$color-jpl-cool-gray-11: 	#5D5D60;
$color-jpl-dark-gray-1: 	#434345;
$color-jpl-dark-gray-2: 	#2A292A;
$color-jpl-black: 			#000;

// internal
$color-jpl-web-red: 		#BA0C2F;
$color-jpl-link-red: 		#EE2737;
$color-jpl-light-gray:		#F2F2F2;

// accent
$color-caltech-orange: 			#FF6E1E;
$color-caltech-grass-green:		#00AD69;
$color-caltech-dark-green:		#005851;
$color-caltech-teal: 			#00AFAB;
$color-caltech-dark-teal:		#003D4C;

$color-jpl-soft-blue:			#94A8C2;
$color-jpl-tangerine:			#F2A900;
$color-jpl-olive-green:			#A4B34C;
$color-jpl-yellow:				#F0DA40;
$color-jpl-aqua: 				#489FDF;
$color-jpl-pink: 				#FF585D;
$color-jpl-purple:				#5E366E;
$color-jpl-taupe:				#9D968D;
$color-jpl-slate-blue:			#617998;

$color-gradient-burgundy:		#410706;
$color-nasa-dark-blue: 			#0B3D91;

// external
$color-jpl-medium-blue:			#4B6A8D;
$color-jpl-light-blue:			#E4E9EF;
$color-jpl-dark-gray:			#222222;
$color-jpl-link-blue:			#0E7EE0;
$color-jpl-hover-blue:			#435D7A;
$color-jpl-medium-gray:			#777777;
$color-jpl-light-gray2:			#A5A6A7;

// bootstrap
$color-bs-link:					#105B9F;
$color-bs-link-hover:			#6588AD;
$color-bs-brand-danger:			#FF321E;