// base/_base.scss

img {
	height: auto;
	// width: 100%;
	max-width: 100%;
}

.jpl-web-red {
  	color: $color-jpl-web-red;
}

.jpl-link-red {
  	color: $color-jpl-link-red;
}

.jpl-cool-gray-6 {
  	color: $color-jpl-cool-gray-6;
}

.jpl-cool-gray-9 {
    color: $color-jpl-cool-gray-9;
}

.jpl-cool-gray-11 {
  	color: $color-jpl-cool-gray-11;
}

.jpl-dark-gray-2 {
  	color: $color-jpl-dark-gray-2;
}

.jpl-dark-gray-1 {
  	color: $color-jpl-dark-gray-1;
}

.jpl-soft-blue {
  	color: $color-jpl-soft-blue;
}

.color-jpl-aqua {
	color: $color-jpl-aqua;
}

.bootstrap-link {
  	color: $color-bs-link;
}

.bootstrap-hover-link {
  	color: $color-bs-link-hover;
}

.black {
  	color: $color-jpl-black;
}

.white {
    color: $color-jpl-white;
}

.white-bg {
    background-color: $color-jpl-white;
}

.gray-bg {
	background-color: $color-jpl-cool-gray-1; 
}

.gray-bg2 {
  	background-color: $color-jpl-light-gray !important;
}

.gray-bg3 {
  	background-color: $color-jpl-cool-gray-3;
}

.gray-bg4 {
  	background-color: $color-jpl-cool-gray-6;
}

.gray-bg5 {
  	background-color: $color-jpl-cool-gray-9;
}

.gray-bg6 {
  	background-color: $color-jpl-cool-gray-11;
}

.gray-bg7 {
  	background-color: $color-jpl-dark-gray-1;
}

.gray-bg8 {
  	background-color: $color-jpl-dark-gray-2;
}

.black-bg {
  	background-color: $color-jpl-black;
}

.jpl-web-red-bg {
    background-color: $color-jpl-web-red;
}

.jpl-link-red-bg {
    background-color: $color-jpl-link-red;
}

.accent-bg {
  	background-color: $color-caltech-orange;
}

.accent-bg2 {
  	background-color: $color-jpl-soft-blue;
}

.accent-bg3 {
  	background-color: $color-jpl-tangerine;
}

.accent-bg4 {
  	background-color: $color-jpl-olive-green;
}

.accent-bg5 {
  	background-color: $color-jpl-yellow;
}

.accent-bg6 {
  	background-color: $color-caltech-teal;
}

.accent-bg7 {
  	background-color: $color-gradient-burgundy;
}

.accent-bg8 {
  	background-color: $color-jpl-purple;
}

.accent-bg9 {
  	background-color: $color-jpl-taupe;
}

.accent-bg10 {
  	background-color: $color-jpl-slate-blue;
}

.accent-bg11 {
  	background-color: $color-caltech-dark-teal;
}

.accent-bg12 {
  	background-color: $color-nasa-dark-blue;
}

.accent-bg13 {
  	background-color: $color-jpl-aqua;
}

.accent-bg14 {
  	background-color: $color-caltech-grass-green;
}

.accent-bg15 {
  	background-color: $color-caltech-dark-green;
}

.accent-bg16 {
  	background-color: $color-jpl-pink;
}

.bootstrap-brand-danger {
  	background-color: $color-bs-brand-danger;
}

.external-bg1 {
  	background-color: $color-jpl-medium-blue;
}

.external-bg2 {
  	background-color: $color-jpl-light-blue;
}

.external-bg3 {
  	background-color: $color-jpl-dark-gray;
}

.external-bg4 {
  	background-color: $color-jpl-link-blue;
}

.external-bg5 {
  	background-color: $color-jpl-hover-blue;
}

.external-bg6 {
  	background-color: $color-jpl-medium-gray;
}

.external-bg7 {
  	background-color: $color-jpl-light-gray2;
}