// base/_helpers.scss

%clearfix, .clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	} 
}

.clear-both, .clear {
	clear: both;
}

.img--full {
	display: block;
	width: 100%;
}

.img--responsive {
	display: block;
	height: auto;
	// width: 100%;
	max-width: 100%;
}

.img--left {
	float: none;
	width: 100%;

	@include breakpoint($medium_mid) {
		width: auto;
		display: inline-block;
		float: left;
		margin-right: u(rem($margin-right));
	}
}

.img--right {
	float: none;
	width: 100%;

	@include breakpoint($medium_mid) {
		width: auto;
		display: inline-block;
		float: right;
		margin-left: u(rem($margin-left)); 	
	}

}

.img--640 {
	display: inline-block;
	width: 100%;

	@include breakpoint($medium_large){
		max-width: 640px;
	}	
}

.img--480 {
	display: inline-block;
	width: 100%;

	@include breakpoint($medium_large){
		max-width: 480px;
	}	
}

.img--320 {
	display: inline-block;
	width: 100%;

	@include breakpoint($medium_large){
		max-width: 320px;
	}	
}

.img--240 {
	display: inline-block;
	width: 100%;

	@include breakpoint($medium_large){
		max-width: 240px;
	}	
}

.img--th {
	display: inline-block;
	width: 100%;

	@include breakpoint($medium_large){
		max-width: 80px;
	}	
}

.border {
	border: 1px solid $color-jpl-cool-gray-6;

	&.dashed {
		border: 2px solid $color-jpl-cool-gray-6;
		border-style: dashed;
	}
}

.no-border {
	border: 0;
}

.indent {
	padding-left: $padding-left+px;
}

.indent2 {
	padding-left: ($padding-left * 2)+px;
}

.pad-20 {
	padding: $padding+px;

	&.no-bottom{
		padding-bottom: 0;
	}

	&.no-top {
		padding-top: 0;
	}

	&.no-right {
		padding-right: 0;
	}

	&.no-left {
		padding-left: 0;
	}
}

.pad-10 {
	padding: 10px;
}

.no-pad {
	padding: 0 !important;
}

.margin-10 {
	margin: 10px;
}

.margin-20 {
	margin: $margin+px;

	&.no-bottom{
		margin-bottom: 0;
	}

	&.no-top {
		margin-top: 0;
	}

	&.no-right {
		margin-right: 0;
	}

	&.no-left {
		margin-left: 0;
	}

}

.no-margin {
	margin: 0;
}

.float-l {
	float: left; 
}

.float-r {
	float: right;
}

.sticky { 
	position: fixed; 
}

.selected { 
	font-weight: $font-bold;
}

.half {
	width: 100%;
	@include breakpoint($medium){
		width: 50%;
	}
}

.three-quarters {
	width: 100%;
	@include breakpoint($medium) {
		width: 75%;
	}
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

/* This class helps compensate for our fixed header when using a named anchor */
.named-anchor {
	padding-top: 120px;
	margin-top: -120px;
	pointer-events: none;
}

.wysiwyg_content h1.named-anchor, .wysiwyg_content h2.named-anchor, .wysiwyg_content h3.named-anchor, .wysiwyg_content h4.named-anchor {
	margin-top: -120px;
}

.text-r {
	text-align: right;
}

.text-l {
	text-align: left;
}

.text-center {
	text-align: center !important;
	img {
		display: inline-block;
	}
}

.text-right {
	text-align: right !important;
	img {
		display: inline-block;
	}
}

.text-left {
	text-align: left !important;
	img {
		display: inline-block;
	}
}

.margin-center {
	margin: 0 auto;
}

.is-active {
	display: block;
}

.is-hidden {
	display: none;
}

.sup {
	vertical-align: super;
	font-size: small !important;
}

.embed-container { 
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}