// base/_layout.scss

/* default grid layout setup */
.grid {
	@include display-flex(flex);
	@include flex-direction(column);
	@include flex-wrap(wrap);
	@include justify-content(center);
	margin: 0;

	&.vertical-middle {
		@include align-items(center);
	}

	@include breakpoint($medium) {
		@include flex-direction(row);
		margin: -10px -1%;
	}

	.grid-cell {
		@include transition(all .5s);
		@include flex-basis(auto);
		width: 100%;
		margin: 10px 0;

		&.flexit {
			@include flex(1 0 0);

			@include breakpoint($medium) {
				@include flex(1);
			}
		}

		img {
			&.no-stretch {
				width: initial;
			}
		}

		@include breakpoint($medium) {
			margin: 10px 1%;

			&.grid--full {
				width: 100%;
			}

			&.grid--1of2 {
			  	width: 48%;
			}

			&.grid--1of3 {
				width: 31.3333%;
				//min-width:325px;
			}

			&.grid--3of4{
				width: 73%;
			}

			&.grid--1of4 {
			  	width: 23%;
			}

			&.text-right {
				text-align: right !important;
				img {
					display: inline-block;
				}
			}
		}

		&.no-margin {
			margin: 0;
		}

		&.no-margin-left {
			margin-left: 0;
		} 

		&.no-margin-right {
			margin-right: 0;
		} 

		&.no-margin-top {
			margin-top: 0;
		}

		&.no-margin-bottom {
			margin-bottom: 0;
		}
	}
}